<div class="form-container">
  <h2>Crie uma nova senha</h2>
  <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
    <div class="form-group">
      <label for="newPassword">Nova Senha</label>
      <!-- Adicione a variável #newPasswordInput="ngModel" -->
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" #newPasswordInput="ngModel" required>
    </div>

    <!-- BLOCO DE VALIDAÇÃO -->
    <div *ngIf="newPasswordInput.dirty" class="password-rules">
      <ul>
          <li [ngClass]="{'valid': newPassword.length >= 8, 'invalid': newPassword.length < 8}">
              Pelo menos 8 caracteres
          </li>
          <li [ngClass]="{'valid': hasUpperCase(newPassword), 'invalid': !hasUpperCase(newPassword)}">
              Uma letra maiúscula
          </li>
          <li [ngClass]="{'valid': hasLowerCase(newPassword), 'invalid': !hasLowerCase(newPassword)}">
              Uma letra minúscula
          </li>
          <li [ngClass]="{'valid': hasNumber(newPassword), 'invalid': !hasNumber(newPassword)}">
              Pelo menos um número
          </li>
          <li [ngClass]="{'valid': hasSpecialChar(newPassword), 'invalid': !hasSpecialChar(newPassword)}">
              Um caractere especial (ex: !&#64;#$)
          </li>
      </ul>
    </div>
    <!-- FIM DO BLOCO DE VALIDAÇÃO -->

    <div class="form-group">
      <label for="confirmPassword">Confirmar Nova Senha</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>

    <!-- Mensagem de erro se as senhas não coincidirem -->
    <div *ngIf="newPasswordInput.dirty && confirmPassword && newPassword !== confirmPassword" class="password-mismatch">
      As senhas não coincidem.
    </div>

    <button type="submit" [disabled]="!resetPasswordForm.form.valid">Redefinir Senha</button>
  </form>
</div>
