:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12vh;
    background: #5B4B3F;
    width: 100%;
    height: auto;
    padding: 6vh 0 6vh 0;
    border-radius: 5vh;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
}

.leftColumn img{
    width: 70%;
    box-shadow: 0 0 1vh 0.5vh black;
}

.rightColumn {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightColumn p{
    text-align:justify;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    color: #1D1302;
    width: 100%;
    height: auto;
    border-radius: 1vh;
    text-align: left;
    background: #DDD3CA;
    padding: 1vh;
}

.form {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opcao {
    margin-top: 1vh;
    transition: 0.1s ease;
    background: #5B4B3F;
    padding: 0.2vh 1vh 0.2vh 1vh;
    border-radius: 5vh;
}

.opcao input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.opcao:has(input[type="radio"]:checked){
    transition: 0.1s ease;
    background: #E68210;
}

.opcao label:hover{
    cursor:pointer;
}

.checked {
    background: #E68210;
}

.qntd {
    justify-self: flex-end;
    height: 1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
}

.qntd p {
    color: #1D1302;
    margin: 0;
    margin-right: 2vh;
}

.qntd input {
    border: none;
    background: none;
    text-align: center;
    color: #1D1302;
    height: 2.5vh;
    width: 10%;
}

.qntd button{
    background: #5B4B3F;
    border: none;
    color: #DDD3CA;
    width: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 5vh;
}

img {
    width: 80%;
    border-radius: 15px;
}

.buttons{
    margin-top: 1.5vh;
}

.buttons button{
    background: #E68210;
    padding: 2vh;
    border-radius: 5vh;
    border: none;
    margin: 1vh;
}