/* Estilos para o painel de administração */
.admin-dashboard {
  margin-top: 16vh;
  padding: 2rem;
  background-color: transparent;
  min-height: 80vh;
}

.admin-dashboard h1 {
  color: var(--white);
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--orange);
  padding-bottom: 0.5rem;
}

.card{
  margin-top: 10vh;
  width: 100%;
  height: auto;
}

.btn{
  margin-top: 2vh;
  background-color: var(--orange);
  color: var(--white);
}