svg{
    fill: #EFE8E0;  
}

.banner{
    margin-top: 12vh;
}

.bannerNF{
    background: var(--orange);
    width: 100%;
    height: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
}

.vendidos,
.categorias {
    padding: 1vh;
    margin-top: 7vh;
    width: 100%;
    height: auto;
    background: #5B4B3F;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards{
    background: none;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards button{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.card{
    margin-top: 2vh;
    margin-bottom: 3vh;
    color: #EFE8E0;
    background: none;
    border: none;
    width: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 1vh 0.5vh black;
}

.empresa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #5B4B3F;
    text-decoration: none;
    font-size: 3vh;
    text-shadow: 0 0 1vh #1D1302;
    font-weight: bolder;
    width: 20%;
    height: 60%;
}

.texto span{
    color: #E68210;
}

.texto::after, .texto::before{
    content: '';
    position: absolute;
    height: 105%;
    width: 102%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #c9720E);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    animation: 3s spin linear infinite;
}

.texto::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;    
    }
}

.texto a{
    text-decoration: none;
    color: #EFE8E0;
}