<app-nav-bar></app-nav-bar>
<div class="banner">
    <img src="banner.png" alt="">
</div>
<div class="vendidos">
    <h3>Mais Vendidos</h3>
    <div class="row">
        <div class="cards">
            <button><svg xmlns="http://www.w3.org/2000/svg" width="6vh" height="6vh" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg></button>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/GooglePlay.png" alt="GooglePlay"></a>
                <h5>R$20,00</h5>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/Steam.png" alt="Steam"></a>
                <h5>R$20,00</h5>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/Netflix.png" alt="Netflix"></a>
                <h5>R$20,00</h5>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/GooglePlay.png" alt="GooglePlay"></a>
                <h5>R$20,00</h5>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/Steam.png " alt="Steam"></a>
                <h5>R$20,00</h5>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="gift-cards/Netflix.png" alt="Netflix"></a>
                <h5>R$20,00</h5>
            </div>
            <button><svg xmlns="http://www.w3.org/2000/svg" width="6vh" height="6vh" fill="currentColor"
                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg></button>
        </div>
    </div>
</div>
<div class="categorias">
    <h3>Categorias</h3>
    <div class="row">
        <div class="cards">
            <button><svg xmlns="http://www.w3.org/2000/svg" width="6vh" height="6vh" fill="currentColor"
                    class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg></button>
            <div class="card">
                <a class="gift-cards" href=""><img src="cards/Card_Games.jfif" alt="Games"></a>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="cards/Card_Films.jfif" alt="Films"></a>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="cards/Card_Music.jfif" alt="Music"></a>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="cards/Card_Market.jfif" alt="Market"></a>
            </div>
            <div class="card">
                <a class="gift-cards" href=""><img src="cards/GiftCard_Mercado.jfif" alt="Mercado"></a>
            </div>
            <button><svg xmlns="http://www.w3.org/2000/svg" width="6vh" height="6vh" fill="currentColor"
                    class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                    <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg></button>
        </div>
    </div>
</div>
<div class="empresa">
    <div class="texto">
        <a href="">Você tem uma empresa?<br>
            <span>CRIE AQUI SEU GIFT CARD!</span></a>
    </div>
</div>
<app-footer></app-footer>