/* You can add global styles to this file, and also import other style files */
:root {
    --smoke-white: #ddd3ca;
    --white: #efe8e0;
    --dark-orange: #c9720e;
    --orange: #e68210;
    --brown: #5b4b3f;
    --dark-brown: #1d1302;
}

* {
    font-family: "Poppins", "sans-serif";
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #EFE8E0;
}

body {
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: linear-gradient(to bottom right, #0C0801, #1D1302);
}

.gift-cards {
    display: inline-block;
    transition: 0.5 ease;
    transition: transform 0.3s ease-in-out;
}

.gift-cards img {
    border-radius: 1vh;
}

.gift-cards:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card h5{
    margin-top: 20%;
}